html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img {
    object-fit: contain;
}

.card-body {
    margin-top: 9.25rem;
    margin-bottom: 1.25rem;
}

.card-text {
    word-wrap: break-word;
    flex: 1 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 40px;
}

.card-img {
    border-radius: 0;
}

.card-img-top {
    border-radius: 50%;
    width: 80%;
    margin-top: 16px;
    margin-bottom: 50px;
}

.upper-containerChui {
    height: 100px;
    background: linear-gradient(to left, #00f74a,#ffee02);
}

.upper-containerEthel {
    height: 100px;
    background: linear-gradient(to left, pink, purple);
}

.upper-containerXander {
    height: 100px;
    background: linear-gradient(to left, lightblue, darkblue);
}

.upper-containerZuko {
    height: 100px;
    background: linear-gradient(to left, orange, red);
}

.image-container img {
    background: transparent;
    border-radius: 50%;
    margin-top: 5%;
}

.lower-container {
    margin-top: 4.65rem;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}


button {
    margin: 1rem;
    margin-top: 0;
    color: #2f2d2e;
    background-color: white;
    border: 2px solid green;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

    button:hover {
        background-image: linear-gradient(to left, #00f74a,#ffee02);
        transform: scale(1.1);
        border: none;
        color: black;
    }
