@{
    ViewData["Title"] = "Pet API Homepage";
}


<div id="app">{{ message }}</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                petFacts: [],
                message: "An API dedicated to my pet's facts!",
                xanderFacts: [],
            };
        },
        mounted() {
            var self = this;

            self.getPetFacts();
        },
        methods: {
            getPetFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.getPetFacts = response.data.GetPetFact;
                        
                        console.log(JSON.parse(JSON.stringify(response)));
                    })
            }
        },
    }).mount('#app')



</script>
