@{
    ViewData["Title"] = "Pet API Homepage";
}


<div id="app">
    {{ message }}
    <div>
        {{ ethelFacts.ethelFact }}
    </div>
    <div>
        {{ xanderFacts.xanderFact }}
    </div>
    <div>
        {{ zukoFacts.zukoFact }}
    </div>
    <div>
        {{ chuiFacts.chuiFact }}
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "An API dedicated to my pet's facts!",
                ethelFacts: [],
                xanderFacts: [],
                zukoFacts: [],
                chuiFacts: [],
            };
        },
        mounted() {
            var self = this;
            
            self.getEthelFacts();
            self.getXanderFacts();
            self.getZukoFacts();
            self.getChuiFacts();
        },
        methods: {
            getEthelFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.ethelFacts = response.data[0];
                    });
            },
            getXanderFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.xanderFacts = response.data[1];
                    });
            },
            getZukoFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.zukoFacts = response.data[2];
                    });
            },
            getChuiFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.chuiFacts = response.data[3];
                    });
            },
        },
    }).mount('#app')



</script>
