@{
    ViewData["Title"] = "Pet API Homepage";
}


<div id="app">
    <section>
        <h1>{{ message }}</h1>
        <h1>{{ errorMessage }}</h1>
        <div v-for="petFact in petFacts">
            <div class="card">
                <div class="upper-container">
                    <div class="image-container">
                        <img src="content/img/Ethel.jpg" />
                    </div>
                </div>
                <div class="lower-container">
                    <h3>Ethel</h3><br/>
                    <h4>{{ petFact.ethelFact }}</h4><br />
                    <button v-on:click="getNewFact()">New Fact!</button>
                </div>
            </div>

            <br />
            {{ petFact.xanderFact }}
            <br />
            {{ petFact.zukoFact }}
            <br />
            {{ petFact.chuiFact }}
        </div>
    </section>
</div>


<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "A REST API dedicated to my pet's facts!",
                petFacts: [],
                loading: true,
                errored: false,
                errorMessage: "",
            };
        },
        mounted() {
            var self = this;

            axios.get("/AnimalFact/GetPetFact")
                .then(response => {
                    self.petFacts = response.data;
                })
                .catch(error => {
                    self.errorMessage = "error getting facts...";
                    self.errored = true;
                })
                .finally(() => self.loading = false)
        },
        methods: {
            getNewFact() {
                var self = this;

                self.loading = true;
                axios.get("/AnimalFact/GetPetFact")
                    .then(response => self.petFacts = response.data)
                    .finally(() => self.loading = false)
            }
        },
    }).mount('#app')
</script>
