@{
    ViewData["Title"] = "Pet API Homepage";
}


<div id="app">
    <h1>{{ message }}</h1>
    <div v-for="petFact in petFacts">
        {{ petFact.ethelFact }}
        <br />
        {{ petFact.xanderFact }}
        <br />
        {{ petFact.zukoFact }}
        <br />
        {{ petFact.chuiFact }}
    </div>
</div>


<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "A REST API dedicated to my pet's facts!",
                petFacts: [],
                loading: true,
                errored: false
            };
        },
        mounted() {
            var self = this;

            axios.get("/AnimalFact/GetPetFact")
                .then(response => {
                    self.petFacts = response.data;
                })
                .catch(error => {
                    console.log(error)
                    self.errored = true
                })
                .finally(() => self.loading = false)
        }, 

    }).mount('#app')

</script>
