@{
    ViewData["Title"] = "Pet API Homepage";
}


<div id="app">
    {{ message }}
    <div>
        {{ethelFacts.ethelFact}}
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "An API dedicated to my pet's facts!",
                ethelFacts: [],
            };
        },
        mounted() {
            var self = this;
            
            self.getPetFacts();
        },
        methods: {
            getPetFacts() {
                var self = this;

                axios.get("/AnimalFact/GetPetFact")
                    .then(function (response) {
                        self.ethelFacts = response.data[0];
                        console.log(response);
                    })
            }
        },
    }).mount('#app')



</script>
