@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="app">
            <section>
                <h1>{{ message }}</h1>
                <h1>{{ errorMessage }}</h1>
                <div v-for="petFact in petFacts">
                <div class="container">
                    <div class="card-deck row text-center p-2">
                        <div class="card h-100">
                            <div class="upper-containerEthel">
                                <img class="card-img-top" src="content/img/Ethel.jpg">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Ethel</h3>
                                <p class="card-text mb-4">
                                    {{ petFact.ethelFact }}
                                </p>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                        <div class="card h-100">
                            <div class="upper-containerXander">
                                <img class="card-img-top" src="content/img/Xander.jpg">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Xander</h3>
                                <p class="card-text mb-4">
                                    {{ petFact.xanderFact }}
                                </p>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                        <div class="card h-100">
                            <div class="upper-containerZuko">
                                <img class="card-img-top" src="content/img/Zuko.jpg">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Zuko</h3>
                                <p class="card-text mb-4">
                                    {{ petFact.zukoFact }}
                                </p>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                        <div class="card h-100">
                            <div class="upper-containerChui">
                                <img class="card-img-top" src="content/img/Chui.png">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Chui</h3>
                                <p class="card-text mb-4">
                                    {{ petFact.chuiFact }}
                                </p>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </section>
            <div class="m-5 p-4">
                <button v-on:click="getNewFact()">
                    New Fact!
                </button>
            </div>
    </div>
</div>


<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "API pet fact app",
                petFacts: [],
                pageLoading: true,
                factLoading: true,
                errorMessage: "",
            };
        },
        mounted() {
            var self = this;

            axios.get("/AnimalFact/GetPetFact")
                .then(response => {
                    self.petFacts = response.data;
                })
                .catch(error => {
                    self.errorMessage = "error getting facts...";
                })
                .finally(() => self.pageLoading = false)
        },
        methods: {
            getNewFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetPetFact")
                    .then(response => self.petFacts = response.data)
                    .finally(() => self.factLoading = false)
            }
        },
    }).mount('#app')
</script>

</div>
