@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="app">
        <section>
            <h1>{{ message }}</h1><br />
            <h1>{{ errorMessage }}</h1>
            <div v-for="petFact in petFacts">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-4 g-4 text-center">
                        <div class="col mb-2">
                            <div class="card h-100">
                                <div class="upper-containerEthel">
                                    <img class="card-img-top" src="content/img/Ethel.jpg">
                                </div>
                                <div class="card-body">
                                    <p class="card-text mt-4">
                                    {{ petFact.ethelFact }}
                                    </p>
                                    <p class="card-text mt-4" v-show="ethelFacts.length > 0">
                                        {{ethelFacts}}
                                        </p>
                                </div>
                                <div class="card-footer">
                                    <h3 class="card-title">Ethel</h3>
                                    <button class="mt-1" v-on:click="getEthelFact()">
                                        New Fact!
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100">
                                <div class="upper-containerXander">
                                    <img class="card-img-top" src="content/img/Xander.jpg">
                                </div>
                                <div class="card-body">
                                    <p class="card-text mt-4">
                                    {{ petFact.xanderFact }}
                                    </p>
                                    <p class="card-text mt-4" v-show="xanderFacts.length > 0">
                                        {{xanderFacts}}
                                        </p>
                                </div>
                                <div class="card-footer">
                                    <h3 class="card-title">Xander</h3>
                                    <button class="mt-1" v-on:click="getXanderFact()">
                                        New Fact!
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100">
                                <div class="upper-containerZuko">
                                    <img class="card-img-top" src="content/img/Zuko.jpg">
                                </div>
                                <div class="card-body">
                                    <p class="card-text mt-4">
                                        {{ petFact.zukoFact }}
                                    </p>
                                    <p class="card-text mt-4" v-show="zukoFacts.length > 0">
                                        {{zukoFacts}}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <h3 class="card-title">
                                        Zuko
                                    </h3>
                                    <button class="mt-1" v-on:click="getZukoFact()">
                                        New Fact!
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="card h-100">
                                <div class="upper-containerChui">
                                    <img class="card-img-top" src="content/img/Chui.png">
                                </div>
                                <div class="card-body">
                                    <p class="card-text mb-4">
                                        {{ petFact.chuiFact }}
                                    </p>
                                    <p class="card-text mt-4" v-show="chuiFacts.length > 0">
                                        {{chuiFacts}}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <h3 class="card-title">Chui</h3>
                                    <button class="mt-1" v-on:click="getChuiFact()">
                                        New Fact!
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="m-5 p-2">
            <button v-on:click="getNewFact()">
                New Fact!
            </button>
        </div>
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: "API pet fact app - desktop view for best experience",
                petFacts: [],
                ethelFacts: [],
                xanderFacts: [],
                zukoFacts: [],
                chuiFacts: [],
                pageLoading: true,
                factLoading: true,
                errorMessage: "",
            };
        },
        mounted() {
            var self = this;

            axios.get("/AnimalFact/GetPetFact")
                .then(response => {
                    self.petFacts = response.data;
                })
                .catch(error => {
                    self.errorMessage = "error getting facts...";
                })
                .finally(() => self.pageLoading = false)
        },
        methods: {
            getNewFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetPetFact")
                    .then(response => {
                        self.petFacts = response.data;
                    })
                    .catch(error => {
                        self.errorMessage = "error getting facts..."
                    })
                    .finally(() => self.factLoading = false);
            },
            getEthelFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetEthelFact")
                    .then(response => { 
                        self.ethelFacts = response.data;
                    });
            },
            getXanderFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetXanderFact")
                    .then(response => { 
                        self.xanderFacts = response.data;
                    });
            },
            getZukoFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetZukoFact")
                    .then(response => {
                        self.zukoFacts = response.data;
                    });
            },
            getChuiFact() {
                var self = this;

                self.factLoading = true;
                axios.get("/AnimalFact/GetChuiFact")
                    .then(response => {
                        self.chuiFacts = response.data;
                    });
            },
        },
    }).mount('#app')
</script>

